<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="home"></span>
          Homes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noreport">
          <span data-feather="file"></span>
          Energy Report
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transition">
          <span data-feather="trello"></span>
          Transitions
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/community">
          <span data-feather="users"></span>
          Community
        </a>
      </li>
    </ul>
  </div>
</nav>