<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coding Dojo Survey</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">
    <span class="text-right"><a href=/logout>Logout</a> | </span>
    <span class="text-right"><a href=/newjob>New Job!</a></span>
    <div class="col-md order-md-1">
      <h2 class="py-5">Hello, {{ user.first_name }}!</h2>
      <h3 class="py-3">Everyone's Jobs:</h3>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Job</th>
              <th>Location</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for jobs in all_the_jobs %}
            <tr>
              <td>{{ jobs.title }}</td>
              <td>{{ jobs.location }}</td> 
              <td><a href='/viewjob/{{jobs.id}}'>View</a></td>
              {% if jobs.user.id == user.user_id %}
                <td><a href='/job/{{jobs.id}}/destroy'>Remove</a></td>
                <td><a href='/job/{{jobs.id}}'>Edit</a></td>
              {% endif %}
              {% if not jobs.user.id == user.user_id %}
              <td><a href='/jobhelper/{{jobs.id}}'>Add</a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <h3 class="py-3">{{ user.first_name }}'s Jobs:</h3>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Job</th>
              <th>Location</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for job_helping in jobs_helping %}
            <tr>
              <td>{{ job_helping.title }}</td>
              <td>{{ job_helping.location }}</td> 
              <td><a href='/viewjob/{{job_helping.id}}'>View</a></td>
              <td><a href='/job/{{job_helping.id}}/destroy'>Done</a></td>
              <td><a href='/destory_jobhelper/{{job_helping.id}}'>Give up</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
