<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Registraion</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">T-Project <span class="badge badge-secondary">BETA</span> </h3>
          <nav class="nav nav-masthead justify-content-center">
            <!-- <a class="nav-link active" href="/">Home</a> -->
            <!-- <a class="nav-link" href="#">Contact</a> -->
            <!-- <a class="nav-link" href="#">Feeback</a> -->
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <div class="py-5">
          <form class="needs-validation" novalidate action="/registration" method="POST">
            {% csrf_token %}
            <div class="py-2">
              <h2>Registration</h2>
            </div>
            <div class="py-2 text-warning">
              Please record and do not lose your login information.<br>Password recovery is currently unavailable. 
            </div>
            <div class="py-3 container text-dark bg-light shadow-lg rounded">
              <div class="py-1 text-danger text-left">
              {% csrf_token %}
              {% if messages %}
                <ul class = "messages">
                {% for message in messages %}
                  <li {% if message.tags%} class="{{message.tags}}" {% endif %}>{{message}}</li>
                {% endfor %}
                </ul>
              {% endif %}
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="py-2 text-left">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="py-2 text-left">
                    <label for="last_name">Last Name</label>
                  </div>
                  <div class="py-2 text-left">
                    <label for="email">Email</label>
                  </div>
                  <div class="py-2 text-left">
                    <label for="password">Password</label>
                  </div>
                  <div class="py-2 text-left">
                    <label for="c_password">Confirm Password</label>
                  </div>
                </div>
                <div class="col-9">
                    <input type="text" name= "first_name" class="form-control" id="first_name" placeholder="" value="" required>
                  <div class="py-2">
                    <input type="text" name= "last_name" class="form-control" id="last_name" placeholder="" value="" required>
                  </div>
                    <input type="text" name= "email" class="form-control" id="email" placeholder="" value="" required>
                  <div class="py-2">
                    <input type="password" name= "password" class="form-control" id="password" placeholder="" value="" required>
                  </div>
                  <div class="py-2">
                    <input type="password" name= "c_password" class="form-control" id="c_password" placeholder="" value="" required>
                  </div>
                </div>
              </div>
            </div>
            <p class="lead py-4">
              <button class="btn btn-lg btn-secondary shadow-lg" type="submit">Submit</button>
            </p>
            <p class="py-2"><a href="/login">Login</a></p>
          </form>
        </div>
      </main>

      <footer class="mastfoot mt-auto">
      </footer>
    </div>

    {% include 'base/bootstrap_js.html' %}

  </body>
</html>
