<!doctype html>
<html lang="en">
  
  {% include 'base/head.html' %}

  <body>

    {% include 'base/navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        
        {% include 'base/sidebar_energy_act.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <!-- <button class="btn btn-sm btn-outline-secondary">Import</button> -->
                <!-- <button class="btn btn-sm btn-outline-secondary">Export</button> -->
                <a href="/{{home.id}}/new_report">
                <button class="btn btn-sm btn-outline-secondary">Add</button>
                </a>
                <a href="/{{home.id}}/edit_report/{{report.year}}">
                <button class="btn btn-sm btn-outline-secondary">Edit</button>
                </a>
              </div>
              
              <div class="dropdown">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span data-feather="calendar"></span>
                  Year
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% for report in all_reports %}
                  <a class="dropdown-item" href="/{{report.home.id}}/reports/{{report.year}}">{{report.year}}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

          <h2>Monthly Report</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Month</th>
                  <th>Actual</th>
                  <!-- <th>Expected</th> -->
                  <!-- <th>Delta (%)</th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>January</td>
                  <td>{{ report.jan_energy }} kWh</td>
                </tr>
                <tr>
                  <td>Februrary</td>
                  <td>{{ report.feb_energy }} kWh</td>
                </tr>
                <tr>
                  <td>March</td>
                  <td>{{ report.mar_energy }} kWh</td>
                </tr>
                <tr>
                  <td>April</td>
                  <td>{{ report.apr_energy }} kWh</td>
                </tr>
                <tr>
                  <td>May</td>
                  <td>{{ report.may_energy }} kWh</td>
                </tr>
                <tr>
                  <td>June</td>
                  <td>{{ report.jun_energy }} kWh</td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>{{ report.jul_energy }} kWh</td>
                </tr>
                <tr>
                  <td>August</td>
                  <td>{{ report.aug_energy }} kWh</td>
                </tr>
                <tr>
                  <td>September</td>
                  <td>{{ report.sep_energy }} kWh</td>
                </tr>
                <tr>
                  <td>October</td>
                  <td>{{ report.oct_energy }} kWh</td>
                </tr>
                <tr>
                  <td>November</td>
                  <td>{{ report.nov_energy }} kWh</td>
                </tr>
                <tr>
                  <td>December</td>
                  <td>{{ report.dec_energy }} kWh</td>
                </tr>
              </tbody>
            </table>
          </div>
          <a href='/{{home.id}}/report/{{report.year}}/destroy'>
            <div class="py-1 text-warning text-center">
              <button class="btn btn-sm btn-danger">Delete Report</button>
            </div>
          </a>
         </main>
      </div>
    </div>

    {% include 'base/bootstrap_js.html' %}

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["January", "February", "March", "Arpil", "May", "June", "July", "August", "September", "October", "November", "December" ],
          datasets: [{
            data: [{{ report.jan_energy }},
            {{ report.feb_energy }},
            {{ report.mar_energy }},
            {{ report.apr_energy }},
            {{ report.may_energy }},
            {{ report.jun_energy }},
            {{ report.jul_energy }},
            {{ report.aug_energy }},
            {{ report.sep_energy }},
            {{ report.oct_energy }},
            {{ report.nov_energy }},
            {{ report.dec_energy }},
            ],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
